<ag-grid-angular 
    #agGrid
    style="width: 100%; height: 350px; box-sizing: border-box;" 
    class="ag-theme-balham"
    [context]="context"
    [gridOptions] = "gridOptions"
    [enableSorting]="true" 
    [enableFilter]="true"    
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [pagination]="true"
    [paginationAutoPageSize]="true"
    [suppressMovableColumns]= "true"
    [defaultColDef] = "defaultColumnDefs"
    [frameworkComponents]="frameworkComponents"    
    (filterChanged)="onModelUpdated($event)"
    (gridReady)="onGridReady($event)">
        
</ag-grid-angular>
